<!--
    <div class="container">
        <div class="row text-right logout">
            {{user}}
            <div class="btn btn-primary" ng-click="logOut()">LogOut</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center" ng-repeat="item in catalog track by $index" id="{{item.id}}" ng-click="showPopup()" ng-cloak>
                <img ng-src="img/{{item.img}}.jpg" alt="{{item.name}}">
                <h3>{{item.name}}</h3>
                <p>{{item.price | currency}}</p>
            </div>
        </div>
    </div>

    <div class="popup-wrap" ng-show="popup.active" ng-click="hidePopup($event)">
        <div class="popup text-center">
            <div class="close">×</div>
            <img ng-src="img/{{popup.img}}.jpg" alt="{{popup.name}}">
            <h3>{{popup.name}}</h3>
            <h3>{{popup.price | currency}}</h3>
        </div>
    </div>-->
<div class="col-md-4">
    <img ng-src="{{profile.user.photo}}" alt="#">
</div>
<div class="col-md-8">
    <p> <strong>Name:</strong> {{profile.user.name}}</p>
    <p> <strong>Surname:</strong> {{profile.user.surname}}</p>
    <p> <strong>Gender:</strong> {{profile.user.gender}}</p>
    <p> <strong>Company:</strong> {{profile.user.company}}</p>
    <p> <strong>Email:</strong> {{profile.user.email}}</p>
    <p> <strong>Phone:</strong> {{profile.user.phone}}</p>
    <p> <strong>About:</strong> {{profile.user.about}}</p>
    <a class="btn btn-primary" ui-sref="edit">Edit</a>
</div>
<!--<p>{{profile.user.auth}}</p>-->
<!--<p>{{profile.user.login}}</p>-->
<!--<p>{{profile.user.password}}</p>-->